body{background-image: url(images/cset.jpg);


}
.resume {
	background-color: white;
	max-width: 960px;
	margin: 0 auto;
}
article {
  background-color: white;
  height: 900px;
  width:900px;
  margin: 0 auto;
}
.info {
  float: right;
  margin-right: 110px;
  display: inline-block;
}
h1 {
  margin-left: 80px;
  display: inline-block;
}
.center1 {
  text-align: center;
  font-size: 25px;
}
.line {
  height: 5px;
  width: 90%;
  margin:10px 0px 30px 30px;
  background-color: black;
}
.line2 {
  height: 5px;
  width: 90%;
  margin: 100px 0px 30px 30px;
  background-color: black;
}
.objective {
  margin: 20px 20px auto;
}
.flex-container {
	display: flex;
	width: 100%;
}
.box {
height: 100px;
min-width: 200px;
}
.one {
width: 50%;
text-align: center;
}
.two {
	width: 50%;
	text-align: center;
}
.three {
	width: 50%;
	float: left;
	margin-left: 20px;
	margin-top: -30px;
}
.four {
	float: right;
	margin-right: 60px;
	margin-top: -30px;
}
.section2 {
margin-top: 200;
}
.line3 {
	height: 5px;
	width: 90%;
	margin: 100px 0px 30px 30px;
	background-color: black;
}
